body{
    background-color: rgb(35, 39, 44);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 108%;
    color: white;
}
img {
    float: left;
    margin: 10px;
}


